<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>StartupController</servlet-name>
        <servlet-class>Controllers.StartupController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GroupListController</servlet-name>
        <servlet-class>Controllers.GroupListController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GroupListController</servlet-name>
        <url-pattern>/group/*</url-pattern>
    </servlet-mapping>
</web-app>
